body {
  max-width: 1000px;
  margin: auto;
  background-image: url("baggrundsbillede.jpg");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  position: relative;


}

.grid-container{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}


.button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
