.h1, h2, h3 {
        font-family: arial;

}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    grid-template-rows: repeat(12, 40px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1px;
    height: 100px;
    width: 75%;
    }


.div1 { grid-area: 1 / 1 / 2 / 2;
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div2 { grid-area: 1 / 2 / 2 / 3;
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div3 { grid-area: 1 / 3 / 2 / 4; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid;}
.div4 { grid-area: 1 / 4 / 2 / 5; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid;}
.div5 { grid-area: 1 / 5 / 2 / 6; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid;}
.div6 { grid-area: 1 / 6 / 2 / 7;
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div7 { grid-area: 2 / 1 / 3 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div8 { grid-area: 2 / 1 / 3 / 2; 
        border-color: black;
        border: 1px;
        border-style: solid; }
.div9 { grid-area: 3 / 1 / 4 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div10 { grid-area: 4 / 1 / 5 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div11 { grid-area: 5 / 1 / 6 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div12 { grid-area: 6 / 1 / 7 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div13 { grid-area: 7 / 1 / 8 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div14 { grid-area: 8 / 1 / 9 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div15 { grid-area: 9 / 1 / 10 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div16 { grid-area: 10 / 1 / 11 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div17 { grid-area: 11 / 1 / 12 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div18 { grid-area: 12 / 1 / 13 / 2; 
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px;
        border-style: solid; }
.div19 { grid-area: 2 / 2 / 2 / 7; border-color: gray; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid; 
}
.div20 { grid-area: 3 / 2 / 3 / 7; border-color: gray   ; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid; 
}
.div21 { grid-area: 4 / 2 / 4 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid; 
}
.div22 { grid-area: 5 / 2 / 5 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid;
padding: 5px;}
.div23 { grid-area: 6 / 2 / 6 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid;
 }
.div24 { grid-area: 7 / 2 / 7 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid;
}
.div25 { grid-area: 8 / 2 / 8 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid;
}
.div26 { grid-area: 9 / 2 / 9 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid;
}
.div27 { grid-area: 10 / 2 / 10 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid;
}
.div28 { grid-area: 11/ 2 / 11 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid;
}
.div29 { grid-area: 12 / 2 / 12 / 7; border-color: black; display: flex; justify-content: center; align-items: center; border: 0px; border-bottom: 1px; border-style: solid;
}

div#div30{ grid-area: 2 / 3 / 6 / 3;
        border-color: black; background-color: gray; display: flex; justify-content: center; align-items: center; border: 1px; border-style: solid;
        margin: 10px;}
div#div31{ grid-area: 2 / 2 / 6 / 3;
        border-color: black; background-color: gray; display: flex; justify-content: center; align-items: center; border: 1px; border-style: solid;
        margin: 10px;}
div#div32{ grid-area: 6 / 2 / 10 / 3;
        border-color: black; background-color: gray; display: flex; justify-content: center; align-items: center; border: 1px; border-style: solid;
        margin: 10px;}
div#div33{ grid-area: 2 / 4 / 6 / 4;
        border-color: black; background-color: red; display: flex; justify-content: center; align-items: center; border: 1px; border-style: solid;
        margin: 10px;}
div#div35{ grid-area: 6 / 4 / 10 / 4;
        border-color: black; background-color: green; display: flex; justify-content: center; align-items: center; border: 1px; border-style: solid;
        margin: 10px;}
div#div34{ grid-area: 3 / 5 / 5 / 5;
        border-color: black; background-color: green; display: flex; justify-content: center; align-items: center; border: 1px; border-style: solid;
        margin: 10px;}
div#div36{ grid-area: 2 / 6 / 7 / 6;
        border-color: black; background-color:cornflowerblue; display: flex; justify-content: center; align-items: center; border: 1px; border-style: solid;
        margin: 10px;}
               
               #overlay {
                 color: white;
                 display: none; /* Hidden by default */
                 width: 375px; /* Full width (cover the whole page) */
                 height: 407px; /* Full height (cover the whole page) */
                 top: 0;
                 left: 0;
                 right: 0;
                 bottom: 0;
                 background-color: #EE7203; /* Black background with opacity */
                 z-index: 2;
                 position: absolute;
                 margin-left: 70px;
                 margin-top: 50px;
               }
               
               #forberedelsespopup {
                 display: none; /* Hidden by default */
                 width: 50%; /* Full width (cover the whole page) */
                 height: auto; /* Full height (cover the whole page) */
                 background-color: #bebebe; /* Black background with opacity */
                 z-index: 2;
                 position: absolute;
                 margin-top: 87px;
                 left: 0;
                 right: 0;
               }
               
               #ekstramaterialepopup {
                 display: none; /* Hidden by default */
                 width: 50%; /* Full width (cover the whole page) */
                 height: auto; /* Full height (cover the whole page) */
                 background-color: #d3d3d3; /* Black background with opacity */
                 z-index: 2;
                 position: absolute;
                 margin-left: 50%;
                 margin-top: 87px;
                 left: 0;
                 right: 0;
                 padding-bottom: 5px;
               }
               
               .parent1 {
                 background-color: purple;
               }
               
               .forberedelse {
                 display: inline-block;
                 justify-content: center;
                 align-items: center;
                 vertical-align: middle;
                 padding: 5px;
                 background-color: #d3d3d3;
                 height: 50px;
                 width: 32%;
                 margin-left: 45px;
                 margin-right: 20px;
                 color: black;
                 border-radius: 5px;
               }
               
               .ekstramateriale {
                 display: inline-block;
                 padding: 5px;
                 background-color: #d3d3d3;
                 height: 50px;
                 width: 32%;
                 color: black;
                 border-radius: 5px;
               }
               
               .forberedelsematerialeheader {
                 font-size: 0.8em;
                 color: black;
                 padding-left: 8px;
                 padding-right: 8px;
               }
               
               .forberedelsebeskrivelse {
                   font-size: 0.7em;
                   color: black;
                   padding-left: 8px;
                   padding-right: 8px;
                 }
               
               #listeoverforberedelsesmateriale {
                 color: black;
                 font-size: 0.7em;
                 padding-left: 8px;
                 padding-right: 8px;
               }
               
               .undervisningsmaterialeheader {
                 font-size: 0.8em;
                 color: black;
                 padding-left: 8px;
                 padding-right: 8px;
               }
               
               .kassetilindhold {
                 display: block;
                 display: flex;
                 align-items: center;
                 width: 35px;
                 height: 35px;
                 padding: 15px;
                 background-color: #EE7203;
                 border-radius: 10px;
                 margin-left: 8px;
                 margin-right: 15px;
                 margin-top: 8px;
                 margin-bottom: 10px;
               }
               
               .billedafikon {
                 width: 40px;
                 height: 40px;
                 margin-left: auto;
                 margin-right: auto;
               }
               
               .beskrivelseafmateriale {
                 font-size: 0.7em;
                 color: black;
                 padding-left: 8px;
                 padding-right: 8px;
               }
               
               .kassetillukkeikon {
                 display: inline-block;
                 align-items: center;
                 padding: 5px;
               }
               
               .underviserbilledekasse {
                 display: inline-block;
                 padding: 5px;
                 margin-left: 55px;
               }
               
               .lukkeikon {
                 width: 25px;
                 height: 25px;
                 margin-left: auto;
                 margin-right: auto;
                 cursor: pointer;
                 margin-bottom: 40px;
               }
               
               .billedeafunderviser {
                 align-items: center;
                 justify-content: center;
                 width: 50px;
                 height: 50px;
                 margin-left: auto;
                 margin-right: auto;
                 cursor: pointer;
                 border-radius: 15px;
                 margin-bottom: 25px;
               }
               
               .overskrift {
                 display: inline-block;
               }
               
               .Undervisernavn {
                 padding-left: 8px;
                 padding-right: 8px;
               }
               
               #linktilzoom {
                 padding-left: 8px;
                 padding-right: 8px;
               }
               
               .teksttilforberedelsesknap {
                 text-align: center;
                 font-size: 12px;
                 margin-top: 18px;
               }
               
               .teksttilundervisningmaterialeknap {
                 text-align: center;
                 font-size: 12px;
                 margin-top: 18px;
               }
               
               .teksttiloverskrift {
                 padding-left: 8px;
               }          