/* original SCSS style guide by Brian Krall (codepen.io/bkrall)

____,-------------------------,____
\   |   PROJECT STYLE GUIDE   |    /
/___|-------------------------|____\
                   guide styles at the end */

/* Colors
// ---------------------*/
.color-1 {background: #444059;} /* color desc goes over here */
.color-2 {background: #EE7203;} 
.color-3 {background: #6C6A6A;} 
.color-4 {background: #2679C0;}
.color-5 {background: #D82727;}


/* Typography
// ---------------------*/
html, body {font-family: "Helvetica", serif;} /* change this */

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}

/* Inline Elements
// ---------------------*/
a {}
a:visited {}
a:hover {}
a:active {}

b {}

/* Inline Elements
// ---------------------*/
input {}
input[type=] {}

input: required {}
input: valid {}
input: invalid {}

label {}
textarea {}
select {}
option {}





/* Style Guide
// --------------------- */
html {background: #f7f7f7;}
#templateTitle {width: 50%; position: relative; padding-top: 10px; margin: 0 auto; text-align: center;}
#projectTitle {font-size: 34px; font-weight: 700; color:#000000;}
#projectDesc {font-family: sans-serif; font-size: 12px; font-weight: 300; color: #000000;}
.seperator {width: 50%; position: relative; padding-top: 20px; margin: 0 auto; margin-bottom: 50px; border-bottom: 1px solid #000000;}
.sectionHeading {width: 50%; margin: 0 auto; text-align: left;}
.sectionTitle {font-family: sans-serif; font-size: 12px; font-weight: 300; color: #000000;}
.sectionSeperator {position: relative; padding-top: 5px; margin: 0 auto; border-bottom: 1px solid #000000;}
ul#colors {width: 50%; position: relative; padding-top: 30px; margin: 0 auto; margin-bottom: 75px; text-align: center; list-style: none;}
li.colorCircle { width: 100px; height: 100px; border-radius: 50%; display: inline-block; margin-right: 20px;}
.colorHex { position: relative; color: #000000; top: 120px; right: 6px;}
#typography {width: 50%; position: relative; padding-top: 10px; margin: 0 auto; margin-bottom: 75px;}
#inlineElements {width: 50%; position: relative; padding-top: 10px; margin: 0 auto; margin-bottom: 75px;}
#formElements {width: 50%; position: relative; padding-top: 10px; margin: 0 auto; margin-bottom: 75px;}  